th {
	background-color:lightblue;
	font-weght:bold;
}

h1 {
       color: red;
       font-size:22px;
       font-style: italic;
   }
   
td {
	border: 2px solid #dddddd;
	text-align: center;
	padding: 7px;
	background-color: grey;
}

